.section__footer {
  background-color: #393939;

  .footer__wrapper {
    background: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4em;
    color: #cfcfcf;
    text-align: center;
    // padding: 1em 0;
    p {
      background: none;
      padding: 0.3em 0;
    }
    .footer__color__txt {
      background: none;
      color: #44733d;
    }
  }

  h1 {
    color: #44733d;
  }
}
